@page "{handler?}"
@model Markom2.Web.Pages.Masters.MCompanyModel
@{
}

<div class="row">
    <div class="col-sm">
        <h4>Company Master Data</h4>
        <!-- BreadCrumb Navigation -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item">Master</li>
                <li class="breadcrumb-item active" aria-current="page">Company</li>
            </ol>
        </nav>
        <!-- /BreadCrumb Navigation -->
        <!-- 'Transparent' table for filter form -->
        <form class="row d-flex justify-content-end" id="SearchCompanyForm">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button type="button" id="AddCompanyModalButton" class="btn btn-primary">
                                <span class="fas fa-plus" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input asp-for="Company.Code" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="Company.Name" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="Company.CreatedDate" type="date" class="form-control" />
                        </td>
                        <td>
                            <input asp-for="Company.CreatedBy" class="form-control" />
                        </td>
                        <td>
                            <button type="submit" href="#" id="SearchCompanyButton" class="btn btn-warning">
                                <span class="fas fa-search-plus" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <!-- /'Transparent' table for filter form -->
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(item => item.Companies[0].Id)</th>
                    <th>@Html.DisplayNameFor(item => item.Companies[0].Code)</th>
                    <th>@Html.DisplayNameFor(item => item.Companies[0].Name)</th>
                    <th>@Html.DisplayNameFor(item => item.Companies[0].CreatedDate)</th>
                    <th>Created By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="MCompanyTableBody">
                <partial name="MCompanyPartials/_MCompanyListPartial" for="Companies" />
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">       

        let tableBodyId = "#MCompanyTableBody";
        let formClass = ".MCompanyFormPartial";

        $(document).ready(() => {
            // Penambahan MCompany baru
            $("#AddCompanyModalButton").on("click", () => {
                getModalContent({
                    url: "MCompany/AddMCompanyPartial",
                    formClass
                });
            });

            $(document).on("submit", "#AddMCompanyForm", (ev) => {
                ev.preventDefault();
                console.log("submit baru");
                let formValue = $("#AddMCompanyForm").serialize();                
                submit({
                    url: "MCompany/AddMCompany",
                    contentType: defaultContentType,                    
                    data: formValue,
                    keterangan: "New company has been successfully added",
                    tableBodyId
                });
            });
            // / Penambahan MCompany baru

            // Memuat Detail MCompany
            $(document).on("click", "span.mcompany-detail-button", (ev) => {
                getModalContent({
                    url: "MCompany/DetailMCompanyPartial",
                    dataId: ev.target.id,
                    formClass
                });
            });
            // /Memuat detail MCompany

            /** Memuat Edit Company **/
            $(document).on("click", "span.mcompany-edit-button", (ev) => {
                getModalContent({
                    url: "MCompany/EditMCompanyPartial",
                    dataId: ev.target.id,
                    formClass
                });
            });
            /** /Memuat Edit Company **/

            // Melakukan edit Company 
            $(document).on("submit", "#EditMCompanyForm", ev => {
                ev.preventDefault();
                var formValue = $(".MCompanyFormPartial").serialize();                
                submit({
                    url: "MCompany/EditMCompany",
                    contentType: defaultContentType,
                    data: formValue,
                    keterangan: "Company has been successfully updated",
                    tableBodyId
                });
            });

            // Memuat formulir delete form
            $(document).on("click", "span.mcompany-delete-button", ev => {
                getModalContent({
                    url: "MCompany/DeleteMCompanyPartial",
                    dataId: ev.target.id,
                    formClass
                });
            });
            // /Memuat formulir delete form

            // Melakukan delete (ubah isDelete) 
            $(document).on("submit", "#DeleteMCompanyForm", ev => {
                ev.preventDefault();                
                let data = {
                    DataId: $("#DeleteMCompanyForm input[name='Item1.Id']").val()
                }; 
                let headers = {
                    RequestVerificationToken: $("#DeleteMCompanyForm input[name='__RequestVerificationToken']").val()
                };
                submit({
                    url: "MCompany/DeleteMCompany",
                    contentType: jsonContentType,
                    headers,
                    data: JSON.stringify(data),
                    keterangan: "Company has been successfully delete",
                    tableBodyId
                });
            });
            // /Melakukan delete            

            $("#SearchCompanyForm").on("submit", (ev) => {
                ev.preventDefault();
                let searchFormValue = $("#SearchCompanyForm").serialize();                
                search({
                    url: "MCompany/Search",
                    searchItem: searchFormValue,
                    tableBodyId
                });
            });            

            $(document).on("click", "#MCompanyModalCloser", () => {
                closeModal();
            });

        });
    </script>

}