@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Markom2.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/all.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Markom2.Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>*@
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Master Data
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-page="/Master/MCompany">Company Master Data</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Markom2.Web - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        let showModal = () => {
            $("#ModalPartial").modal({
                keyboard: false,
                backdrop: "static"
            });
        };

        let closeModal = () => {
            $("#ModalPartial").modal("hide");
            $("#ModalContent").empty();
        };

        function getModalContent({ url, dataId, formClass }) {
            $.get(url, { dataId }, data => {
                $("#ModalContent").append(data);
                $(formClass).removeData("validator");
                $(formClass).removeData("unobtrusiveValidation");
                $.validator.unobtrusive.parse(formClass);
                showModal();
            }).fail(err => {
                alert("Terjadi error, cek kembali data atau hubungi tim IT");
                console.log(err.responseText);
            });
        }

        function submit({ url, contentType, headers, data, keterangan, tableBodyId }) {
            $.ajax({
                type: "POST",
                url: url,
                contentType: contentType,
                headers: headers,
                data: data
            }).done(function (data) {
                $(tableBodyId).empty();
                $(tableBodyId).append(data);
                alert(keterangan);
                closeModal();
            }).fail(function (errData) {
                console.log("Gagal, keterangan : " + errData.responseText);
                alert("Gagal mengeluarkan dialog, cek kembali data atau hubungi tim IT");
                closeModal();
            });
        }

        function search({ url, searchItem, tableBodyId }) {
            $.get(url, searchItem, data => {
                alert("Item found");
                $(tableBodyId).empty();
                $(tableBodyId).append(data);
            }).fail(function (errData) {
                alert("Search failed");
                console.log(errData.responseText);
            });
        }

        const defaultContentType = "application/x-www-form-urlencoded; charset=UTF-8";
        const jsonContentType = "application/json; charset=UTF-8";

    </script>
    <partial name="_ModalPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
