@page "{handler?}"
@model Markom2.Web.Pages.Master.MCompanyModel
@{
}

<div class="row">
    <div class="col-sm">
        <!-- BreadCrumb Navigation -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item">Master</li>
                <li class="breadcrumb-item active" aria-current="page">Master Company</li>
            </ol>
        </nav>
        <hr />
        <!-- /BreadCrumb Navigation -->
        <h4>Company Master Data</h4>
        <div class="row d-flex justify-content-end">
            <div class="col-md-2">
                <button href="#" id="AddCompanyModalButton" class="btn btn-primary">
                    <span class="fas fa-plus" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <form class="row d-flex justify-content-end" id="SearchCompanyForm">
                    @*<div class="col-md"></div>*@
                    <div class="col-md">
                        <input asp-for="Company.Code" class="form-control" />
                    </div>
                    <div class="col-md">
                        <input asp-for="Company.Name" class="form-control" />
                    </div>
                    <div class="col-md">
                        <input asp-for="Company.CreatedDate" class="form-control" />
                    </div>
                    <div class="col-md">
                        <input asp-for="Company.CreatedBy" class="form-control" />
                    </div>
                    <div class="col-md">
                        <button type="submit" href="#" id="SearchCompanyButton" class="btn btn-warning">
                            <span class="fas fa-search-plus" aria-hidden="true"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <br />
        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(item => item.Companies[0].Id)</th>
                    <th>@Html.DisplayNameFor(item => item.Companies[0].Code)</th>
                    <th>@Html.DisplayNameFor(item => item.Companies[0].Name)</th>                                       
                    <th>@Html.DisplayNameFor(item => item.Companies[0].CreatedDate)</th>
                    <th>Created By</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="MCompanyTableBody">
                <partial name="MCompanyPartials/_MCompanyListPartial" for="Companies" />
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />  
    <script type="text/javascript">

        $(document).ready(() => {
            $("#AddCompanyModalButton").on("click", () => {
                $.ajax({
                    url: "MCompany/AddMCompanyPartial",
                    accepts: "text/html",
                    success: e => {
                        $("#ModalContent").append(e);
                        $("form#MCompanyFormPartial").removeData("validator");
                        $("form#MCompanyFormPartial").removeData("unobtrusiveValidation");
                        $.validator.unobtrusive.parse("form#MCompanyFormPartial");
                    },
                    error: err => {
                        var errDetailJson = err.responseJson;
                        $("#ModalContent").append(errDetailJson);
                    }
                });
                
                showModal();
            });

            $(document).on("submit", "#MCompanyFormPartial", (ev) => {
                ev.preventDefault();                
                let formValue = $("#MCompanyFormPartial").serialize();                
                if (formValue != undefined) {
                    $.post("MCompany/AddMCompany", formValue, data => {
                        //debugger;
                        console.log("sukses");
                        //console.log(data);
                        $("#MCompanyTableBody").empty();
                        $("#MCompanyTableBody").append(data);
                        closeModal();
                    }).fail(data => {
                        //debugger;
                        console.log("gagal");
                        console.log(data);
                    });
                }
            });

            $("#SearchCompanyForm").on("submit", (ev) => {
                ev.preventDefault();
                let searchFormValue = $("#SearchCompanyForm").serialize();

                $.get("MCompany/Search", searchFormValue, data => {
                    console.log("sukses");
                    $("#MCompanyTableBody").empty();
                    $("#MCompanyTableBody").append(data);
                }).fail(data => {
                    console.log("gagal");
                    console.log(data.responseJSON);
                })
            })

            $(document).on("click", "#MCompanyModalCloser", () => {
                closeModal();
            });

        });
    </script>  

}