@page
@model Markom2.Web.Pages.Master.MCompanyModel
@{
}

<div class="row">
    <div class="col-sm">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>