@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using Markom2.Repository.ViewModels
@model VMEmployee

<!-- Transparent table for filter form -->
<form class="row d-flex justify-content-center" id="SearchEmployeeForm">
    <table class="table table-borderless">
        <tbody>     
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="px-sm-1">
                    <button type="button" href="#" id="AddEmployeeModalButton" class="btn btn-primary">
                        <span class="fas fa-plus" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            <tr >
                <td class="px-sm-1">
                    <input asp-for="Code" class="form-control" />
                </td>
                <td class="px-sm-1">
                    <input asp-for="Name" class="form-control" />
                </td>
                <td class="px-sm-1">
                    <input asp-for="CompanyName" class="form-control" />
                </td>
                <td class="px-sm-1">
                    <input asp-for="CreatedDate" class="form-control" />
                </td>
                <td class="px-sm-1">
                    <input asp-for="CreatedBy" class="form-control" />
                </td>
                <td class="px-sm-1">
                    <button type="submit" href="#" id="SearchEmployeeButton" class="btn btn-warning">
                        <span class="fas fa-search-plus" aria-hidden="false"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
<!-- /Transparent table for filter form -->